@charset "UTF-8";
/* CSS Document */

body{
	font-family: "Open Sans";
	margin: 0; 
	padding: 0;
	color: #7F3123

}


h1,h2{
	font-family: "Montserrat"
}

img.logo{
	margin:auto;
	display: block;
	clear:both
}
.artist{
	width: 50%
}
.artist img{
	width: 100%;
	float: left;
	margin-right: 10px;
}

a{
	text-decoration: none;
}

nav a {
	color: black;
}

.active a{
	color: tomato;
}
li{
	list-style-type: none;
	display: inline-block;
	margin:0 10px;
	
}

nav{
	text-align: center;
	margin-bottom: 10px;
	border-bottom: solid thin tomato;
	
}

h1 {
	text-align: center
}

.subnav a{
	color:tomato;
}


header {
	background-color:black;
	padding:25px

	
}

header ul{
	margin:0;
	padding:0
}
header li{
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	float:left;

	color:white;
	font-size: 0.8em;
}
.icon{
	font-size:3em;
	color:Tomato
}
.main-content{
	max-width: 1024px;
	margin:auto
}

footer{
	margin-top:100px;
	background-color: black;
	color:white;
	width: 100%;
	font-size: 0.8em;
	padding:10px;
	text-align: center
}

.fa-2x{
	color:white;
	margin-right:30px
}

#register{
	border-radius: 2px;
	background:tomato;
	color:white;
	padding: 10px 18px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#register:hover{
	box-shadow: none
}

.search-container{
	float: right
}

header input[type=text] {
padding: 6px;
  margin-top: 8px;
  font-size: 1em;
  border: none;
}

header .search-container button {
  float: right;
  margin-top: 8px;
	margin-left:0;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

header .search-container button:hover {
	background: #ccc;}

header a{
	color:white
}